.header {
  height: 100px;
  position: fixed;
  width: 100%;
  color: black;
  font-family: 'Bungee Shade';
  align-items: center;
}
.header .icon-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .fa-solid {
  font-size: 40px;
  padding: 15px;
  color: #ad2632;
}
.header img {
  font-size: 30px;
  padding: 15px;
  height:60px;
  margin-right:15px;
}

.header img:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  transform: rotate(60deg);
}

.header .fa-solid:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 768px) {
  .logo-name {
    font-size:larger;
  }

  .header img {
    height: 70px;
  }
  /* .header .fa-solid {
    font-size:larger;
  } */
}