/* #RecipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.RecipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
}

.RecipeCard img {
  margin-top: 20px;
  width: 380px;
  height: 281px;

  /* width: 200px;
  height: 140px; */
}

.RecipeCard img:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.RecipeCard .fa-heart {
  position: absolute;
  font-size: 20px;
  right: 25px;
  top: 240px;
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.RecipeCard .fa-solid {
  color: #ad2632;
}
p {
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
}
