.TodaysBox {
  margin-top: 5px;
  margin-bottom: 20px;
}

.TodaysBox .hide {
  display: none;
}
.TodaysBox h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.TodaysBox h2 span {
  background: #fff;
  padding: 0 10px;
}

.TodaysBox p {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.TodaysBox ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .TodaysBox img {
    height: 281px;
  }
}
